<article class="article-thumbnail">
    <img src="{{ article.img }}" alt="{{ article.img }}" class="article-thumbnail__img">
    <div class="article-thumbnail__overlay">
        <p class="article-thumbnail__title">{{ article.title}}</p>
        <p class="article-thumbnail__text">{{ article.text }}</p>
        <div class="article-thumbnail__link-wrap">
            <a href="{{ article.link }}" target="_blank" class="article-thumbnail__link">Подробнее</a>
        </div>
    </div>
</article>