<article class="article-direction">
    <p class="article-direction__number">{{ article.number }}</p>
    <a href="#" class="article-direction__link js-article-direction-open"><p class="article-direction__title">{{ article.title }}</p></a>
    <div class="article-direction__overlay">
        <a href="#" class="js-article-direction-close"><i class="article-direction__icon fri fri-close"></i></a>
        <p class="article-direction__number">{{ article.number }}</p>
        <p class="article-direction__title">{{ article.title }}</p>
        <p class="article-direction__info">{{ article.info }}</p>
    </div>
</article>